name: Push

on: push

jobs:
  test:
    name: Test and typecheck on node 20.x and ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1
      - name: Build
        run: yarn build
      - name: Install Puppeteer browser
        run: npx puppeteer browsers install chrome
      - name: Test codebase
        run: yarn test --run
      - name: Upload coverage
        uses: codecov/codecov-action@v2
      - name: Typecheck codebase
        run: yarn tsc
